# Sessão e contexto do Spark

### 2. Obter as informações da sessão de spark (spark)

In [1]:
spark

### 3. Obter as informações do contexto do spark (sc)

In [2]:
sc

### 4. Setar o log como INFO.

In [3]:
spark.sparkContext.setLogLevel("INFO")

### 5. Visualizar todos os banco de dados com o catalog

In [4]:
spark.catalog.listDatabases()

[Database(name='default', description='Default Hive database', locationUri='hdfs://namenode:8020/user/hive/warehouse')]

### 6. Ler os dados "hdfs://namenode:8020/user/manoel/data/juros_selic/juros_selic.json“ com uso de Dataframe

In [12]:
leitura_juros = spark.read.json("/user/manoel/data/exercises-data/juros_selic/juros_selic.json")
leitura_juros.show(5)

+----------+-----+
|      data|valor|
+----------+-----+
|01/06/1986| 1.27|
|01/07/1986| 1.95|
|01/08/1986| 2.57|
|01/09/1986| 2.94|
|01/10/1986| 1.96|
+----------+-----+
only showing top 5 rows

### 7. Salvar o Dataframe como juros no formato de tabela Hive

In [13]:
leitura_juros.write.saveAsTable("juros")

### 8. Visualizar todas as tabelas com o catalog

In [15]:
spark.catalog.listTables()

[Table(name='juros', database='default', description=None, tableType='MANAGED', isTemporary=False)]

### 9. Visualizar no hdfs o formato e compressão que está a tabela juros do Hive

In [17]:
!hdfs dfs -ls /user/hive/warehouse/juros

Found 2 items
-rw-r--r--   2 root supergroup          0 2022-04-07 01:19 /user/hive/warehouse/juros/_SUCCESS
-rw-r--r--   2 root supergroup       3883 2022-04-07 01:19 /user/hive/warehouse/juros/part-00000-8da655f8-6ecd-48dc-9552-ef45035c96ee-c000.snappy.parquet

### 10. Ler e visualizar os dados da tabela juros, com uso de Dataframe no formato de Tabela Hive

In [18]:
spark.read.table("juros").show(5)

+----------+-----+
|      data|valor|
+----------+-----+
|01/06/1986| 1.27|
|01/07/1986| 1.95|
|01/08/1986| 2.57|
|01/09/1986| 2.94|
|01/10/1986| 1.96|
+----------+-----+
only showing top 5 rows

### 11. Ler e visualizar os dados da tabela juros , com uso de Dataframe no formato Parquet

In [19]:
spark.read.parquet("/user/hive/warehouse/juros/").show(5)

+----------+-----+
|      data|valor|
+----------+-----+
|01/06/1986| 1.27|
|01/07/1986| 1.95|
|01/08/1986| 2.57|
|01/09/1986| 2.94|
|01/10/1986| 1.96|
+----------+-----+
only showing top 5 rows